@import "~antd/dist/antd.less";

// @primary-color: #1DA57A;

body {
  background: #ECECEC;
}

.login-wrapper {
  padding-top: 20vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-wrapper {
  margin: 3rem;
}

.container {
  margin-right: 2rem;
  margin-left: 2rem;
}

.header {
  background-color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-logo {
  height: 32px;
  margin-right: 8px;
}

.header-dropdown-btn {
  margin-top: 10px;
  margin-left: 8px;
  float: right;
}
