{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "less"
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "lib": "./lib"
        }
      }
    ],
    ["transform-define", "./env-config.js"]
  ]
}